
{% extends "layout.html" %}
{% block title %}Home{% endblock title %}
{% block body %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{{ url_for('homepage') }}">EventTime</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="{{ url_for('homepage') }}">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">All Events</a>
        </li>
        {% if current_user['access'] in ['admin','teacher'] %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            ADD
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            {% if current_user['access']=='admin' %}
            <a class="dropdown-item" href="#">Teacher Account</a>
            {% endif %}
            
            <a class="dropdown-item" href="{{ url_for('addEvent') }}">Event</a>
          </div>
        </li>
        {% endif %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{current_user['uname']}}
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{{ url_for('account') }}">My Account</a>
            <a class="dropdown-item" href="#">Settings</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{{ url_for('logout') }}">Logout</a>
          </div>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li> -->
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>
  {% block content %}
  
  <div class="container">
<div class="row">
{% for event in data['events']  %}
<div class="col-sm-3" >
  <div class="card">
    <img src="..." class="card-img-top event_picture" alt="image" onerror="imgError(this);">
    <div class="card-body">
      <p class="card-title" style="font-weight: 600;">{{ event['name'] }}</p>
      <p class="card-text">{{ event['description'][:25] }} ...</p>
      <a class="stretched-link" href="{{ url_for('event',query=event['_id']) }}"></a>
    </div>
  </div>
</div>
{% endfor %}
</div>
</div>
{% endblock content %}
    
{% endblock body %}
{% block scripts %}
<script type="text/javascript">
  function imgError(image) {
    image.onerror = "";
    image.src = "{{ url_for('static', filename='pup.jpg') }}";
    return true;
}
</script>
{% endblock %}