
{% extends "layout.html" %}
{% block title %}Home{% endblock title %}
{% block body %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">EventTime</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">All Events</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{data['uname']}}
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{{ url_for('account') }}">My Account</a>
            <a class="dropdown-item" href="#">Settings</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{{ url_for('logout') }}">Logout</a>
          </div>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li> -->
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>
<div class="row">
<div class="col-sm-4">
  <div class="card">
    <img src="..." class="card-img-top event_picture" alt="{{ url_for('static', filename='pup.jpg') }}" onerror="imgError">
    <div class="card-body">
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div>
</div>
  <div class="col-sm-4">
  <div class="card">
    <img src="..." class="card-img-top event_picture" alt="{{ url_for('static', filename='pup.jpg') }}">
    <div class="card-body">
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div>
  </div>
  <div class="col-sm-4">
  <div class="card">
    <img src="..." class="card-img-top event_picture" alt="{{ url_for('static', filename='pup.jpg') }}">
    <div class="card-body">
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div>
  </div>
  <div class="col-sm-4">
    <div class="card">
      <img src="..." class="card-img-top event_picture" alt="{{ url_for('static', filename='pup.jpg') }}">
      <div class="card-body">
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
    </div>
    <div class="col-sm-4">
  <div class="card">
    <img src="..." class="card-img-top event_picture" alt="{{ url_for('static', filename='pup.jpg') }}">
    <div class="card-body">
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div>
  </div>
  <div class="col-sm-4">
    <div class="card">
      <img src="..." class="card-img-top event_picture" alt="{{ url_for('static', filename='pup.jpg') }}">
      <div class="card-body">
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
    </div>
    <div class="col-sm-4">
        <div class="card">
          <img src="/static/img/pu.jpg" class="card-img-top event_picture">
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
        </div>
</div>

    
{% endblock %}
{% block scripts %}
<script type="text/javascript">
  function imgError(image) {
    image.onerror = "";
    image.src = "{{ url_for('static', filename='pup.jpg') }}";
    return true;
}
    </script>
{% endblock %}